<% provide(:title, 'Sign up') %>

<main role="main" class="container">
<div class="container col-lg-12">

    <div class="row">

    <div class="container jumbotron">
        <div class="row">
            <div class="row col-lg-12">
                <div class="col col-lg-6">
                    <img src="https://static.vecteezy.com/system/resources/previews/000/268/826/non_2x/bellhop-vector-avatar.jpg" alt="" class="img-responsive col-lg-12" style="height: 400px; width:auto" >        
                </div>
                    <div class="form content col-lg-6 col">
                        <div class="form-group">
                        <h1 class="text-center">Sign up</h1>
                        </div>
                        <div class="container">
                        <%# sign up form %>
                        <%= render 'form'%>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    </div>
</div>
</main>