<footer class="page-footer font-small bg-dark text-white fixed-bottom">
    <div class="footer-copyright text-center py-3" style="font-size:9pt">© 2020 Copyright
    <a href="http://localhost:3010/" class="text-white"> Awesome Blog</a>
  </div>
</footer>

